/* Tela pequena */
.category-aside {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.category-aside h3 {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;

}

.category-aside hr {
  display: flex;
  margin-bottom: 40px;
  width: 80%;
}

.category-aside div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.products-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;

}

.product-card {
  align-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.406);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 380px;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.product-name {
  font-size: large;
  font-weight: 700;
  max-height: 100px;
  text-align: center;
}

.product-card img {
  width: 150px;
}

.initial-message {
  align-items: center;
  background-color: rgba(3, 43, 42, 0.487);
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  width: 75%;
}

.initial-message h2 {
  text-transform: uppercase;
}

/* Tela grande */

@media only screen and ( min-device-width : 900px ) {

  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .category-aside {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    width: 25%;
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }
}
